API/wwwroot/*
API/www/*
API/obj/*
client/e2e/*
client/src/environments/environment.prod.ts
client/android/app/src/androidTest/java/com/getcapacitor/myapp/ExampleInstrumentedTest.java
client/android/.idea/.gitignore
client/android/.idea/compiler.xml
client/android/.idea/jarRepositories.xml
client/android/.idea/misc.xml
client/android/app/src/main/assets/capacitor.config.json
client/android/app/src/main/assets/capacitor.plugins.json
client/android/app/src/main/java/io/ionic/starter/MainActivity.java
client/android/app/src/main/res/drawable/ic_launcher_background.xml
client/android/app/src/main/res/drawable/splash.png
client/android/app/src/main/res/drawable-land-hdpi/splash.png
client/android/app/src/main/res/drawable-land-mdpi/splash.png
client/android/app/src/main/res/drawable-land-xhdpi/splash.png
client/android/app/src/main/res/drawable-land-xxhdpi/splash.png
client/android/app/src/main/res/drawable-land-xxxhdpi/splash.png
client/android/app/src/main/res/drawable-port-hdpi/splash.png
client/android/app/src/main/res/drawable-port-mdpi/splash.png
client/android/app/src/main/res/drawable-port-xhdpi/splash.png
client/android/app/src/main/res/drawable-port-xxhdpi/splash.png
client/android/app/src/main/res/drawable-port-xxxhdpi/splash.png
client/android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
client/android/app/src/main/res/layout/activity_main.xml
client/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
client/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
client/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
client/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
client/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
client/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
client/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
client/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
client/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
client/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
client/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
client/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
client/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
client/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
client/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
client/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
client/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
client/android/app/src/main/res/values/ic_launcher_background.xml
client/android/app/src/main/res/values/strings.xml
client/android/app/src/main/res/values/styles.xml
client/android/app/src/main/res/xml/config.xml
client/android/app/src/main/res/xml/file_paths.xml
client/android/app/src/test/java/com/getcapacitor/myapp/ExampleUnitTest.java
client/android/app/.gitignore
client/android/app/build.gradle
client/android/app/capacitor.build.gradle
client/android/app/proguard-rules.pro
client/android/gradle/wrapper/gradle-wrapper.jar
client/android/gradle/wrapper/gradle-wrapper.properties
client/android/.gitignore
client/android/build.gradle
client/android/capacitor.settings.gradle
client/android/gradle.properties
client/android/gradlew
client/android/gradlew.bat
client/android/settings.gradle
client/android/variables.gradle
.gitignore
arduino/testLed/testLed.ino
client/android/app/src/main/res/*
client/ios/App/App/Assets.xcassets/*
client/resources/android/icon/*
client/resources/android/splash/*
client/resources/ios/*
client/resources/windows/*
API/bin/*
API/appsettings.json
arduino/irServer/irServer.ino
arduino/irServer/irServer.ino
arduino/irServer_Private/irServer_Private.ino
