<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid fixed>
    <ion-col>
      <ion-row size="2"></ion-row>
      <ion-button (click)="toggle(1)" expand="block" fill="clear" shape="round">
        Toggle 1
      </ion-button>
      <ion-row size="2"></ion-row>
      <ion-row size="2"></ion-row>
      <ion-button (click)="toggle(2)" expand="block" fill="clear" shape="round">
        Toggle 2
      </ion-button>
      <ion-row size="2"></ion-row>
    </ion-col>
    <ion-col>
      <ion-row size="2"></ion-row>
      <ion-button (click)="toggle(3)" expand="block" fill="clear" shape="round">
        Toggle 3
      </ion-button>
      <ion-row size="2"></ion-row>
      <ion-row size="2"></ion-row>
      <ion-button (click)="toggle(4)" expand="block" fill="clear" shape="round">
        Toggle 4
      </ion-button>
      <ion-row size="2"></ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
